/*-------Kinga Jaszweska---------*/
.amsterdamzdj img {
    width: 400px;
    height: 250px;
}
.paryzzdj img {
    width: 400px;
    height: 250px;

}
.barcelonazdj img {
    width: 400px;
    height: 250px;
}