/*-------Kinga Jaszewska---------*/
.amsterdamzdj img {
    width: 400px;
    height: 250px;
}
.paryzzdj img {
    width: 400px;
    height: 250px;

}
.barcelonazdj img {
    width: 400px;
    height: 250px;
}

.monacozdj img {
    width: 400px;
    height: 250px;

}
.rzymzdj img {
    width: 400px;
    height: 250px;

}
.lazdj img {
    width: 400px;
    height: 250px;

}
/*-----Body---*/
body {
    margin: 0px;
    color: black;
    background-color: bisque;
}
.nav {
    box-shadow: 0px 0px 5px;
}
.nav h1 {
    display: flex;
    justify-content: center;
}
.nav p {
    display: flex;
    justify-content: center;
}
